fieldset
  border: none
  margin-bottom: $space-medium
  padding: 0

  input
    box-sizing: border-box
    width: 100%
    min-height: 44px
    margin: 0
    padding: $space-small
    background-color: $color-background
    font-size: $text-label
    border-radius: $border-radius
    border: solid 1px $color-border

  input:focus
    border: solid 2px $color-brand
    outline: none

  label
    display: block
    font-weight: bold
    margin-bottom: 4px

  input
    -webkit-appearance: none // to remove iOS style

@media ( min-width: #{$media-desktop})
  fieldset
    input
      font-size: $text-label
